rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /teams/{teamId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      
      match /players/{playerId} {
        allow read, write: if request.auth != null && get(/databases/$(database)/documents/teams/$(teamId)).data.userId == request.auth.uid;
      }
    }
    
    match /games/{gameId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    
    match /training-sessions/{sessionId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update: if request.auth != null && request.auth.uid == resource.data.userId;
      allow delete: if request.auth != null && request.auth.uid == resource.data.userId;
      
      match /attendance/{playerId} {
        allow read, write: if request.auth != null && 
          get(/databases/$(database)/documents/training-sessions/$(sessionId)).data.userId == request.auth.uid;
      }
    }
  }
} 